board_size_decreased_version/
FW/
PEG_FW/
plate_and_bottom_macropad/
symbols_and_footprints/
v0.1_5x5/
*/manufacturing/
*/*.xml
*/fp*
*/*.kicad_prl
*/*-backups/
*/sym-lib-table
*/fp-info-cache
.gitignore
